{% extends "homepage.html" %} <!--Extende o template base.html-->

{% block titulo %} 
Perfil - {{usuario}}
{% endblock %} <!--Fim do bloco de título-->

{% block body %} <!--Início do bloco de corpo-->
<body>
{% include "navbar.html" %} <!--Inclui o template navbar.html-->

<h1>Perfil do usuário: {{usuario.username}} </h1> <!--Exibe o nome do usuário-->

{% if form %}
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ form.foto() }}
    {{ form.botao_confirmacao() }}    
</form>
{% endif %}


{% for foto in usuario.fotos %}
<img src="{{url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}">
{% endfor %}

</body>   
{% endblock %} <!--Fim do bloco de corpo-->
